html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ==== scroll bar ==== */

*::-webkit-scrollbar {
  height: 6px;
  width: 8px;
  border-radius: 5px;
  background: #f0f0f0;
}

*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  outline: 1px solid rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.15);
}

/* === MUI data grid === */
.MuiDataGrid-columnHeaderTitle {
  font-weight: bold !important;
}

.MuiDataGrid-root .MuiDataGrid-cell {
  white-space: pre-wrap !important;
  line-height: inherit !important;
  padding: 10px 10px !important;
}

/*  */
.MuiDataGrid-root {
  font-size: 0.875rem !important;
}

/* MUI data grid focus outline */
.MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: 0.5px solid rgba(0, 0, 0, 0.1) !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within,
.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: none !important;
}

/* styling rows */
.MuiDataGrid-row {
  cursor: pointer;
}

.Mui-even {
  background-color: rgba(0, 0, 0, 0.02);
}
